absl-py==1.4.0
accelerate==0.23.0
aiohttp==3.8.4
aiosignal==1.3.1
albumentations==0.4.3
altair==4.2.2
antlr4-python3-runtime==4.8
anyio==3.6.1
appdirs==1.4.4
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asn1crypto==0.24.0
asttokens==2.0.8
async-timeout==4.0.2
attrs==22.1.0
Babel==2.10.3
backcall==0.2.0
backports.zoneinfo==0.2.1
beautifulsoup4==4.11.1
bleach==5.0.1
blinker==1.5
cachetools==5.3.0
certifi==2022.9.24
cffi==1.15.1
chardet==3.0.4
charset-normalizer==2.1.1
click==8.1.3
clip @ git+https://github.com/openai/CLIP.git@a9b1bf5920416aaeaec965c25dd9e8f98c864f16
coloredlogs==15.0.1
contourpy==1.1.1
cryptography==2.1.4
cycler==0.12.1
debugpy==1.6.3
decorator==5.1.1
defusedxml==0.7.1
diffusers==0.12.1
docker-pycreds==0.4.0
einops==0.3.0
entrypoints==0.4
executing==1.1.1
fastjsonschema==2.16.2
fastprogress==1.0.3
filelock==3.10.0
flatbuffers==23.3.3
fonttools==4.43.1
frozenlist==1.3.3
fsspec==2023.9.2
ftfy==6.1.1
future==0.18.3
gitdb==4.0.10
GitPython==3.1.31
google-auth==2.16.2
google-auth-oauthlib==0.4.6
grpcio==1.51.3
huggingface-hub==0.17.3
humanfriendly==10.0
idna==3.4
imageio==2.9.0
imageio-ffmpeg==0.4.2
imgaug==0.2.6
importlib-metadata==5.0.0
importlib-resources==5.10.0
invisible-watermark==0.1.5
ipykernel==6.16.0
ipython==8.5.0
ipython-genutils==0.2.0
jedi==0.18.1
Jinja2==3.1.2
json5==0.9.10
jsonschema==4.16.0
jupyter-core==4.11.1
jupyter-server==1.19.1
jupyter_client==7.3.5
jupyterlab==3.4.8
jupyterlab-pygments==0.2.2
jupyterlab_server==2.15.2
keyring==10.6.0
keyrings.alt==3.0
kiwisolver==1.4.5
kornia==0.6.0
lazy_loader==0.1
Markdown==3.4.1
markdown-it-py==2.2.0
MarkupSafe==2.1.1
matplotlib==3.7.3
matplotlib-inline==0.1.6
mdurl==0.1.2
mistune==2.0.4
mpmath==1.3.0
multidict==6.0.4
mypy-extensions==1.0.0
nbclassic==0.4.5
nbclient==0.7.0
nbconvert==7.2.1
nbformat==5.6.1
nest-asyncio==1.5.6
networkx==3.0
notebook==6.4.12
notebook-shim==0.1.0
numpy==1.23.3
oauthlib==3.2.2
omegaconf==2.1.1
onnx==1.13.1
onnxruntime==1.14.1
opencv-python==4.1.2.30
packaging==21.3
pandas==1.5.3
pandocfilters==1.5.0
parso==0.8.3
pathtools==0.1.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.2.0
pkgutil_resolve_name==1.3.10
prometheus-client==0.14.1
prompt-toolkit==3.0.31
protobuf==3.20.3
psutil==5.9.2
ptyprocess==0.7.0
pudb==2019.2
pure-eval==0.2.2
pyarrow==11.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pycrypto==2.6.1
pydeck==0.8.0
pyDeprecate==0.3.1
Pygments==2.13.0
PyGObject==3.26.1
Pympler==1.0.1
pyparsing==3.0.9
pyre-extensions==0.0.23
pyrsistent==0.18.1
python-apt==1.6.6
python-dateutil==2.8.2
pytorch-lightning==1.4.2
pytz==2022.4
pytz-deprecation-shim==0.1.0.post0
PyWavelets==1.4.1
pyxdg==0.25
PyYAML==6.0
pyzmq==24.0.1
regex==2022.10.31
requests==2.31.0
requests-oauthlib==1.3.1
rich==13.3.2
rsa==4.9
safetensors==0.4.0
scikit-image==0.20.0
scipy==1.9.1
SecretStorage==2.3.1
semver==2.13.0
Send2Trash==1.8.0
sentry-sdk==1.32.0
setproctitle==1.3.3
six==1.16.0
smmap==5.0.0
sniffio==1.3.0
some-package==0.1
soupsieve==2.3.2.post1
ssh-import-id==5.7
stack-data==0.5.1
streamlit==1.20.0
supervisor==4.2.4
sympy==1.11.1
taming-transformers==0.0.1
taming-transformers-rom1504==0.0.6
tensorboard==2.12.0
tensorboard-data-server==0.7.0
tensorboard-plugin-wit==1.8.1
terminado==0.16.0
test-tube==0.7.5
tifffile==2023.3.15
tinycss2==1.1.1
tokenizers==0.14.1
toml==0.10.2
tomli==2.0.1
toolz==0.12.0
torch==1.12.1+cu113
torch-fidelity==0.3.0
torchaudio==0.12.1+cu113
torchmetrics==0.6.0
torchvision==0.13.1+cu113
tornado==6.2
tqdm==4.65.0
traitlets==5.4.0
transformers==4.34.0
typing-inspect==0.9.0
typing_extensions==4.4.0
tzdata==2022.7
tzlocal==4.3
unattended-upgrades==0.1
urllib3==1.26.12
urwid==2.1.2
validators==0.20.0
wandb==0.15.12
watchdog==3.0.0
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.4.1
Werkzeug==2.2.3
xformers==0.0.13
yarl==1.8.2
zipp==3.9.0
